doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Editar tarea 
    body
        h1 Editar Taréa
        
        form(action=`/tasks/${tarea.id}¿_method=PUT` method="POST")
            textarea(name="description" placeholder="Coloca aquí tu tarea a realizar.")=tarea.description
            input(type="submit", value="Guardar")